<h1 class="mt-4" id="top">Admin</h1> <hr class="post-title margin-hr">
<%= render 'admin/main/partials/table_contents' %>
<hr class="mb-5">
<%= render 'admin/main/partials/drafts' %>
<hr class="mb-5">
<%= render 'admin/main/partials/published' %>
<hr class="mb-5">
