<% if comments.count > 0 %>
  <% comments.each do |comment|
    # side = "left"
    # side = 'right' if my_perfil?(@current_user, comment.user)
  %>
    <div class="row mt20 margin-nil">
      <div class="chat-discussion chat-discussion-support">
        <div class="chat-message">
          <!--          <img class="message-avatar" id="imagem-perfil" src="<%#= image_path(media.nil? ? "logo-temp.png" : media.get_aws_url) %>" alt="Avatar">-->
          <div class="message">
            <div class="d-flex justify-content-between">
              <a class="message-author" href="#"> <%= comment.name %> </a>
              <p class="message-date"> <%= l(comment&.created_at, format: :long) %> </p>
            </div>
            <div class="d-flex justify-content-between">
              <span class="message-content"> <%= comment&.body.html_safe %> </span>
              <% if signed_in? && current_user.user_type == :admin %>
                <%= link_to fa_icon("trash"), destroy_comment_posts_path(id: comment), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: t('confirm.destroy') } %>
              <% end %>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  <%
    end
  end
  %>
