<div class="container-fluid d-flex align-items-center">
  <%= image_tag('logo.png', width:'80', alt:'Nucleus') %>
  <div class="d-flex justify-content-around col-3">
    <%= link_to "home", root_path %>
    <%= link_to "Blog", root_path %>
    <%= link_to "Contato", root_path %>
  </div>
  <input class="col-4 btn ms-auto btn bg-white" style="text-align: left" placeholder="Pesquisar"> <%# FIXME! %>
</div>