  <div class="container">
    <div class="sc-bdfBwQ eZNKTD">
      <img src="https://d1fdloi71mui9q.cloudfront.net/MUm1j7ybTseBc7rRtcXp_87z26i2sRSfw6mry" width="200px" alt="logo Nucleus">
      <h1 class="h2">@nucleusapp</h1>
    </div>
      <div class="sc-bdfBwQ StyledContainer__StyledLinkContainer-sc-1og9kym-0 fSUfbu iHjFJv">
        <a href="https://appnucleus.com.br/" target="_blank" rel="noopener" data-testid="LinkButton" aria-describedby="profile-nucleusapp " height="auto" class="sc-pFZIQ StyledButton-sc-tim4qx-0 ldGKnQ eViWBZ">
          <p class="sc-hKgILt Button__StyledText-sc-wu9agm-0 CczVW bvgKjI">
            Site Nucleus
          </p>
        </a>
      </div>
    <div id="238395091" class="sc-bdfBwQ pkAuV">
      <div data-testid="StyledContainer" class="sc-bdfBwQ StyledContainer__StyledLinkContainer-sc-1og9kym-0 fSUfbu iHjFJv">
        <a href="https://site.droptoprint.com.br/" target="_blank" rel="noopener" data-testid="LinkButton" aria-describedby="profile-nucleusapp " height="auto" class="sc-pFZIQ StyledButton-sc-tim4qx-0 ldGKnQ eViWBZ">
          <p class="sc-hKgILt Button__StyledText-sc-wu9agm-0 CczVW bvgKjI">
            Site Drop to Print
          </p>
        </a>
      </div>
    </div>
    <div id="118259697" class="sc-bdfBwQ pkAuV">
      <div data-testid="StyledContainer" class="sc-bdfBwQ StyledContainer__StyledLinkContainer-sc-1og9kym-0 fSUfbu iHjFJv">
        <a href="https://wa.me/554799999709" target="_blank" rel="noopener" data-testid="LinkButton" aria-describedby="profile-nucleusapp " height="auto" class="sc-pFZIQ StyledButton-sc-tim4qx-0 ldGKnQ eViWBZ">
          <p class="sc-hKgILt Button__StyledText-sc-wu9agm-0 CczVW bvgKjI">
            WhatsApp
          </p>
        </a>
      </div>
    </div>
    <div id="118118353" class="sc-bdfBwQ pkAuV">
      <div data-testid="StyledContainer" class="sc-bdfBwQ StyledContainer__StyledLinkContainer-sc-1og9kym-0 fSUfbu iHjFJv">
        <a href="https://drive.google.com/file/d/1lVJgqIwM7DAtuODntEgurgGEj_bJjynh/view?usp=sharing" target="_blank" rel="noopener" data-testid="LinkButton" aria-describedby="profile-nucleusapp " height="auto" class="sc-pFZIQ StyledButton-sc-tim4qx-0 ldGKnQ eViWBZ">
          <p class="sc-hKgILt Button__StyledText-sc-wu9agm-0 CczVW bvgKjI">Baixe o PDF e conheça o Nucleus EyeView </p>
        </a>
      </div>
    </div>
    <div id="217006053" class="sc-bdfBwQ pkAuV"><div data-testid="StyledContainer" class="sc-bdfBwQ StyledContainer__StyledLinkContainer-sc-1og9kym-0 fSUfbu iHjFJv">
      <a href="https://drive.google.com/file/d/1VUgdsDGsI7tI2XTkKCVFnvltrUH_3q-8/view?usp=sharing" target="_blank" rel="noopener" data-testid="LinkButton" aria-describedby="profile-nucleusapp " height="auto" class="sc-pFZIQ StyledButton-sc-tim4qx-0 ldGKnQ eViWBZ">
        <p class="sc-hKgILt Button__StyledText-sc-wu9agm-0 CczVW bvgKjI">
        Baixe o PDF e conheça Nucleus Nixa
      </p>
      </a>
    </div>
    </div>
    <div id="118118071" class="sc-bdfBwQ pkAuV">
    <div data-testid="StyledContainer" class="sc-bdfBwQ StyledContainer__StyledLinkContainer-sc-1og9kym-0 fSUfbu iHjFJv">
    <a href="https://www.linkedin.com/company/nucleusapp" target="_blank" rel="noopener" data-testid="LinkButton" aria-describedby="profile-nucleusapp " height="auto" class="sc-pFZIQ StyledButton-sc-tim4qx-0 ldGKnQ eViWBZ">
    <p class="sc-hKgILt Button__StyledText-sc-wu9agm-0 CczVW bvgKjI">
    LinkedIn
  </p>
  </a>
  </div>
  </div>
    <div id="118118043" class="sc-bdfBwQ pkAuV">
    <div data-testid="StyledContainer" class="sc-bdfBwQ StyledContainer__StyledLinkContainer-sc-1og9kym-0 fSUfbu iHjFJv">
    <a href="https://www.instagram.com/nucleusapp/" target="_blank" rel="noopener" data-testid="LinkButton" aria-describedby="profile-nucleusapp " height="auto" class="sc-pFZIQ StyledButton-sc-tim4qx-0 ldGKnQ eViWBZ">
    <p class="sc-hKgILt Button__StyledText-sc-wu9agm-0 CczVW bvgKjI">
    Instagram
  </p>
  </a>
  </div>
  </div>
  </div>
</div>
