<div class="d-flex flex-column justify-content-around align-items-center">
  <%#= render 'shared/navbar_left' %>
  <div>
    <h1 class="center text-purple">BLOG</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p><hr class="mt-3 post margin-hr"></p>
    <%= link_to posts_path do %>
      <div class=" mt-4 d-flex justify-content-between align-items-center">
        <h4 class="d-inline text-inherit"><%= t('title.last_post')%></h4>
        <h4 class="d-inline text-purple"> <small><%= link_to t('title.see_all', count: @posts.count).html_safe, posts_path %></small></h4>
      </div>
    <% end %>
    <hr class="post-title margin-hr mt-1" style="width: inherit">
  </div>
</div>
