<h2><%= t('main.summary') %></h2>
<ul class="d-flex flex-column table-of-content">
  <li class="table-of-contents col-lg-2 col-md-3 col-sm-4 mb-2 col-xs-8 ps-2 d-flex justify-content-between">
    <%= link_to t('main.posts.status.drafts'), "#drafts" %></b>
  </li>
  <li class="table-of-contents col-lg-2 col-md-3 col-sm-4 mb-2 col-xs-8 ps-2 d-flex justify-content-between">
    <%= link_to t('main.posts.status.published'), "#published" %></b>
  </li>
</ul>