<div class="text-purple d-flex justify-content-between align-items-center">
    <h1 class="mt-4"><%= @posts.count %> <%= Post.model_name.human(count: @posts.count) %></h1>
  <%= link_to new_model, new_post_path, class: 'btn btn-primary mt-3'  if signed_in? %>
</div>
<%= render 'posts/partials/posts', posts: @posts %>