<div class="container">
  <h1 class="col-lg-6 col-md-6 col-xs-6"> <%= @post&.title %> </h1>
  <p class="col-lg-6 col-md-6 col-xs-6"> <%= @post&.body %> </p>
<!--  <p> <strong>Name:</strong> <%#= @post&.user.name %> </p>-->
</div>

<br>
<br>
<%= render 'posts/partials/comments', comments: @comments %>

<!--<%#= link_to 'Edit', edit_post_path(@post) %> |-->
<%#= link_to 'Back', posts_path %>
